@font-face {
  font-family: 'Josefin Sans';
  src: local('Josefin Sans'), url('/public/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 300;
}


.galleryContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .galeriePoze {
    column-count: 4;
    column-gap: 20px;
    max-width: 80%;
  }

  .image {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 20px;
    break-inside: avoid;
  }
  
  .image img {
    grid-row: 1 / -1;
    grid-column: 1;
  }
