@import 'normalize.css';
@font-face {
  font-family: 'WildySans';
  src: local('Wildy Sans'), url('/public/wildy_sans/Wildy-Sans.ttf'), format('ttf'); 
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  width: 100%;
}

h1 {
  margin-bottom: 0;
  font-family: 'WildySans';
  font-size: 6rem;
  margin-top: 0;
  color: black;
  
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none; 
  display: inline-flex;
}

li {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

.navigation a {
  font-family: 'WildySans';
  font-size: 2rem;
  color: black;
}

.galeriePoze {
  column-count: 4;
  column-gap: 10px;
  padding: 0 50px;
  max-width: 100%;

}

.image {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.image img {
  grid-row: 1 / -1;
  grid-column: 1;
}

@media screen and (max-width: 600px) {
  .galeriePoze {
    column-count: 1;
  }
}

@media screen and (min-width: 600px) {
  .galeriePoze {
    column-count: 2;
  }
}

@media screen and (min-width: 900px) {
  .galeriePoze {
    column-count: 3;
  }
}

@media screen and (min-width: 1200px) {
  .galeriePoze {
    column-count: 4;
  }
}